.navbar-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    gap: 40px;
    padding: 10px 20px 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.6s ease-in-out;
}
.navbar-main-container.hide {
    top: -150px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
  }
.navbar-main-container:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s ease;
}

.navbar-main-container .navbar-routes-container {
    display: flex;
    row-gap: 12px;
    column-gap: 32px;   
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}
.route-container {
    display: flex;
    flex: 1;
    justify-content: center;
}
