* {
    margin: 0;
    padding: 0;
}
.app-main-container {
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    height: 100vh;
    overflow: hidden;
}
.app-main-content {
    display: flex;
    overflow-y: scroll;
    flex: 1;
    flex-wrap: wrap;
}
.app-main-content.margin {
    padding-top: 100px;
}

@font-face {
    font-family: 'Inter-Black';
    src: local('Inter-Black'), url(./assets/fonts/inter/Inter-Black.ttf) format('truetype');
}
.image-with-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }