:root {
    --primary-color: rgb(0, 247, 255);
    --secondary-color: #090;
    --background-color: #1B1B1B;
    --text-color: #FFFFFF;
    --accent-color: #FF4E50;
    --error-color: #FFD6BA;
    --success-color: #4CAF50;
    --warning-color: #FFC107;
    --info-color: #2196F3;
} 

